.header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 15;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;

  $root: &;

  @media(max-width: 767px) {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  &__row {
    align-items: flex-start;
    @media(max-width: 767px) {
      align-items: center;
    }
  }

  &__link {
    width: 100%;
    max-width: 200px;
    display: flex;
    margin-right: 15px;

    @media(max-width: 1199px) {
      max-width: 150px;
      margin-right: 10px;
    }

    @media(max-width: 767px) {
      max-width: 100px;
    }

    @media(max-width: 460px) {
      max-width: 65px;
    }
  }

  &__logo {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #ea4335;
    margin-top: 10px;

    @media(max-width: 1199px) {
      font-size: 25px;
    }

    @media(max-width: 767px) {
      font-size: 20px;
      line-height: 20px;
      margin-top: 0;
      text-transform: uppercase;
    }

    @media(max-width: 460px) {
      text-align: center;
    }

  }

  &__contacts {
    width: 100%;
    max-width: calc(100% - 415px);

    @media(max-width: 1199px) {
      max-width: calc(100% - 310px);
    }

    @media(max-width: 767px) {
      display: none !important;
    }
  }

  &__contacts-item {
    width: 100%;
    max-width: 33.33%;
    padding-left: 32px;
    position: relative;

    @media(max-width: 991px) {
      max-width: 50%;
    }

    &_email {
      @media(max-width: 991px) {
        display: none;
      }
    }

  }

  &__contacts-label {
    margin-bottom: 2px;
  }

  &__contacts-ico {
    color: $greenColor;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 2px;
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
  }

  &__contacts-phone {
    font-size: 20px;
    line-height: 24px;
    color: $primaryColor;
    @media(max-width: 991px) {
      font-size: 18px;
    }
  }

  &__contacts-map {
    color: $primaryColor;
    @media(max-width: 991px) {
      font-size: 13px;
      line-height: 17px;
    }
  }

  &__contacts-mail {
    color: $primaryColor;
    @media(max-width: 1199px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__social {
    width: 100%;
    max-width: 200px;

    @media(max-width: 1199px) {
      max-width: 150px;
    }

    @media(max-width: 767px) {
      max-width: calc(100% - 140px);
    }

    @media(max-width: 460px) {
      max-width: calc(100% - 105px);
      justify-content: center;
    }
  }

  &__social-link {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 20px;
    background: $lightColor;

    &:last-child {
      margin-right: 0;
    }

    @media(max-width: 1199px) {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      margin-right: 7px;
    }

    @media(max-width: 767px) {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-right: 10px;
    }

    @media(max-width: 460px) {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      margin-right: 7px;
    }

    &_phone {
      background: $greenColor;
      @media(min-width: 768px) {
        display: none;
      }
    }
  }

  &__social-ico {
    color: $greenColor;
    width: 100%;
    height: 100%;
    max-width: 20px;
    max-height: 20px;
    display: block;

    @media(max-width: 1199px) {
      max-width: 15px;
      max-height: 15px;
    }

    @media(max-width: 767px) {
      max-width: 20px;
      max-height: 20px;
    }

    @media(max-width: 460px) {
      max-width: 15px;
      max-height: 15px;
    }

    &_phone {
      color: #FFF;
      max-width: 14px;
      max-height: 14px;
    }
  }

  &__menu {
    display: none;
    @media(max-width: 767px) {
      width: 30px;
      height: 30px;
      margin: 0;
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    &_active {
      #{$root} {
        &__menu-dash:first-child {
          transform: translateY(0) rotate(45deg);
        }
        &__menu-dash:last-child {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }

  &__menu-dash {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: $primaryColor;
    left: 0;
    transition: all .3s ease;

    &:first-child {
      top: 0;
      transform: translateY(-5px);
    }

    &:last-child {
      bottom: 0;
      transform: translateY(5px);
    }
  }

  &__navigation {
    display: none;
    @media(min-width: 768px) {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
    }
  }


  &__navigation-link {

    @media(min-width: 768px) {
      font-size: 18px;
      display: flex;
      align-items: flex-start;
      color: $primaryColor;
      transition: all .2s ease;
      margin-right: 15px;
    }

    @media(min-width: 992px) {
      font-size: 22px;
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $secondColor;

      #{$root} {
        &__navigation-ico {
          fill: $secondColor;
        }
      }
    }
  }

  &__navigation-ico {
    fill: $primaryColor;
    margin-right: 5px;
    width: 16px;
    height: 16px;

    @media(max-width: 991px) {
      width: 15px;
      height: 15px;
    }
  }
}

.mobile-nav {
  position: fixed;
  z-index: 1030;
  background: #FFF;
  top: 57px;
  left: 0;
  bottom: 0;
  right: auto;
  width: 100%;
  max-width: calc(100% - 40px);
  overflow-y: scroll;
  padding: 15px 0 30px;
  transform: translateX(-100%);
  transition: all .3s ease;
  pointer-events: none;

  @media(min-width: 461px) {
    top: 75px;
  }

  @media(min-width: 768px) {
    display: none;
  }

  &_active {
    transform: translateX(0);
    pointer-events: all;
  }

  &__wrap {
    width: 100%;
    padding: 0 30px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  &__menu-link {
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    color: $secondColor;
    transition: all .2s ease;
  }

  &__menu-ico {
    fill: $secondColor;
    margin-right: 5px;
    width: 15px;
    height: 15px;
  }

  &__contacts-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__link {
    color: $secondColor;
    font-size: 20px;
    line-height: 1;

    &_address {
      font-size: 16px;
    }
  }
}