description = "Page"

[formwidget]

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="ru">
    {% partial "meta" %}
    <body>
        {% partial "loading" %}
        <!-- Header -->
        {% partial "header" %}

        <!-- Content -->
        <main class="main">
          <section class="page">
            <div class="container">
              <h1 class="title page__title">{{ this.page.title }}</h1>
              <a class="link page__link" href="/">На главную</a>
              <div class="page__body">
                {% component 'staticPage' %}
              </div>
            </div>
          </section>

        </main>
        <div class="popup" data-modal="main-modal">
          <div class="popup__dialog">
            <div class="popup__modal">
              <button class="popup__close" data-js-action="close-modal">
                <svg xmlns="http://www.w3.org/2000/svg" class="popup__close-ico" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                </svg>
              </button>
              <div class="popup__title title">Оставить заявку</div>
                {% component 'formwidget' %}
            </div>
          </div>
        </div>
        <!-- Footer -->
        {% partial "footer" %}
        {% partial "scripts" %}
    </body>
</html>